/* RSS link
 */
div.rsslink {
	position:absolute;
	right:250px;
	top:170px;
}
div.rsslink img {
	border:0;
}

/* Sidebar
 */
div.weblog_sidebar {
	float:right;
	width:140px;
	min-height:400px;
	padding:15px 10px 70px 20px;
	border-left:1px solid #f0f0f0;
}
div.weblog_sidebar ul {
	list-style:square;
	color:#8080b0;
	margin-left:20px;
}

/* Weblog
 */
div.weblog_main {
	float:left;
	width:600px;
}
div.weblog {
	margin-top:80px;
}
div.weblog:first-child {
	margin-top:-15px;
}
div.weblog div.timestamp {
	text-align:right;
	float:right;
	position:relative;
	top:-18px;
	height:0;
	font-size:10px;
	width:150px;
}
div.weblog div.author {
	text-align:right;
	font-size:11px;
}
div.weblog div.content {
	margin-top:5px;
	margin-bottom:20px;
}
div.weblog div.content > p:first-child:first-letter {
	font-size:44px;
	float:left;
	margin-right:4px;
}
div.weblog div.comment_count {
	float:right;
	font-size:11px;
}

/* Tags
 */
div.tags {
	float:left;
	font-size:11px;
	width:400px;
}
div.tags span {
	font-style:italic;
}
div.tags span:after {
	content:",";
	margin-right:3px;
	font-style:normal;
}
div.tags span:last-child:after {
	content:"";
}

/* Comments
 */
div.comments {
	margin-top:20px;
}
div.comments div.comment {
	margin-top:15px;
}
div.comments div.comment div.author {
	font-weight:bold;
	border-bottom:1px solid #d0d0f0;
	background-color:#f4f4fc;
	padding-left:4px;
}
div.comments div.comment div.timestamp {
	text-align:right;
	position:relative;
	font-size:11px;
	top:-18px;
	height:4px;
}

/* New comment
 */
form {
	margin-top:20px;
}
form input.text {
	width:250px;
}
form input.button {
	margin-right:10px;
}
form textarea.text {
	margin-top:5px;
	margin-bottom:10px;
	display:block;
	width:600px;
	height:150px;
}

/* Weblog list
 */
ul.tagged {
	list-style:square;
	margin-left:20px;
}
