@font-face {
	font-family:"Open Sans";
	src:url(/fonts/Open-Sans.woff);
}

* {
 	margin:0;
	padding:0;
	line-height:100%;
	font-size:14px;
}

body {
	color:#000000;
	font-family:"Open Sans", sans-serif;
	background:url(/images/layout/hisser_bg3.jpg) no-repeat top center;
}

div.gradient {
	display:none;
	position:absolute;
	top:300px;
	width:100%;
	height:200px;
	background:linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

div.wrapper {
	width:900px;
	margin:0 auto;
	position:relative;
}

h1,h2,h3 {
	margin-bottom:10px;
}

h1 {
	font-size:26px;
}

h2 {
	font-size:20px;
	border-bottom:1px dashed #c0c0c0;
	padding-bottom:5px;
}

p {
	margin-bottom:10px;
	line-height:150%;
}

a {
	color:#ff7000;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

/* Header
 */
div.header {
	height:150px;
	position:relative;
}

div.header div.title {
	color:#ffffff;
	font-size:50px;
	font-weight:bold;
	text-shadow:3px 3px 2px #202020;
	padding-top:25px;
}

div.header div.subtitle {
	color:#d0d0d0;
	font-size:20px;
	font-style:italic;
	text-shadow:2px 2px 1px #202020;
	margin-left:30px;
}

/* Menu
 */
div.menu {
	position:absolute;
	bottom:0;
}

div.menu ul {
	margin-left:30px;
}

div.menu ul li {
	display:inline;
	margin-right:10px;
}

div.menu ul li a {
	display:inline-block;
	padding:8px 30px;
	background-color:rgba(128,128,128,0.75);
	color:#000000;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	letter-spacing:1px;
}

div.menu ul li.current a {
 	color:#b04000;
}

/* Page
 */
div.page {
	padding:40px 60px;
	background-color:rgba(255,255,255,0.75);
	min-height:400px;
	border-top:3px solid #9b8161;
}

/* Footer
 */
div.footer {
	text-align:center;
	background-color:#e8e8e8;
	padding:20px 0;
}

div.footer span, div.footer span a {
	font-size:12px;
	color:#a0a0a0;
}

div.footer span:after {
	content:"|";
	padding:0 20px;
}
div.footer span:last-child:after {
	content:none;
}
