table.list {
	width:100%;
}

td:first-child {
	width:35px;
}

table.list th.key {
	width:200px;
}

table.list th.type {
	width:100px;
}

input.button, a.button {
	margin-right:10px;
}

input.text {
	width:250px;
}
